@import "tailwindcss";
@import "@nuxt/ui";

@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }

  tr[data-selectable='true'] {
    cursor: pointer;
  }
}

@layer overrides {
  :focus-visible,
  :focus-visible::before,
  :focus-visible::after {
    outline: none;
  }

  :has(:focus-visible) {
    outline-style: none;
  }
}
